parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property App\\Contracts\\Participant\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Services/BenchService.php

		-
			message: '#^Access to an undefined property App\\Contracts\\Participant\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/BenchService.php

		-
			message: '#^Access to an undefined property App\\Contracts\\Participant\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/BenchService.php

		-
			message: '#^Access to an undefined property App\\Contracts\\Participant\:\:\$invitee_email\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/ParticipantService.php

		-
			message: '#^Access to an undefined property App\\Contracts\\Participant\:\:\$role\.$#'
			identifier: property.notFound
			count: 3
			path: app/Services/ParticipantService.php

		-
			message: '#^Access to an undefined property App\\Contracts\\Participant\:\:\$status\.$#'
			identifier: property.notFound
			count: 2
			path: app/Services/ParticipantService.php

		-
			message: '#^Access to an undefined property App\\Contracts\\Participant\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 13
			path: app/Services/ParticipantService.php

		-
			message: '#^Access to an undefined property App\\Contracts\\Participant\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Services/WaitlistService.php

		-
			message: '#^Access to an undefined property App\\Contracts\\Participant\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/WaitlistService.php

		-
			message: '#^Access to an undefined property App\\Contracts\\Participant\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Services/WaitlistService.php
