includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
    level: 9
    stubFiles:
        - stubs/EscalatedTicket.stub
        - stubs/EscalatedTicketSubjectLink.stub
        - stubs/EscalatedDepartment.stub
        - stubs/EscalatedReply.stub
        - stubs/EscalatedTicketStatus.stub
        - stubs/HasTranslations.stub
        - stubs/IlluminateCache.stub
        - stubs/IlluminateCacheLockInterface.stub
        - stubs/SchemaOrg.stub
    reportUnmatchedIgnoredErrors: true
